@import url('https://fonts.cdnfonts.com/css/futura-pt');

body {
	background-color: #f8f8f8;
}

.welcome {
   text-align: center;
	 font-family: 'Futura PT', sans-serif;
   padding: 40px 0 20px;
   .welcome-title {
    font-size: 3.5em;
   }
}
.testresult {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
    font-family: 'Futura PT', sans-serif;
    .testresult-table {
        margin: 0 auto;
        text-align: center;
        border-spacing: 30px 10px;
        .testresult-table-row-el {
						font-size: 1em;
						border-radius: 2px;
            padding: 6px 10px;
						box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.6), 0px 1px 1px 0px rgba(0,0,0,0.54), 0px 1px 3px 0px rgba(0,0,0,0.52);
        }
        .testresult-table-row-el-red {
            background-color: rgb(255, 97, 97);
        }
        .testresult-table-row-el-green {
            background-color: rgb(136, 255, 97);
        }
        .testresult-table-row-el-undefined {
            background-color: rgb(249, 251, 214);
        }
    }
}
.weekdate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 25vh;
    font-family: 'Futura PT', sans-serif;
    .weekdate-weeknumber {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.32em;
				border-radius: 5px;
        background-color: rgb(255, 121, 97);
        color: white;
        box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.6), 0px 1px 1px 0px rgba(0,0,0,0.54), 0px 1px 3px 0px rgba(0,0,0,0.52);
        width: 50px;
        height: 80px;
    }
}

.topic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 25vh;
    font-family: 'Futura PT', sans-serif;
    .topic-title {
        padding: 0;
        margin: 0;
    }
    .topic-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 2vh;
        .topic-container-list {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 10vh;
            width: 20vh;
            list-style: none;
            padding: 0;
            margin: 0 20px;
            .topic-container-list-item {
								font-size: 1.1em;
                padding: 4px 2px;
                margin: 5px 0;
                color: white;
								border-radius: 2px;
                background-color: rgb(255, 121, 97);
								box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.6), 0px 1px 1px 0px rgba(0,0,0,0.54), 0px 1px 3px 0px rgba(0,0,0,0.52);
            }
        }
    }
}

.highlight {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 25vh;
  font-family: 'Futura PT', sans-serif;
	.highlight-schedule {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		.highlight-schedule-el {
			margin: 10px 0;
			font-size: 1.1em;
			padding: 5px 0;
			color: white;
			border-radius: 2px;
			background-color: rgb(255,121,97);
			box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.6), 0px 1px 1px 0px rgba(0,0,0,0.54), 0px 1px 3px 0px rgba(0,0,0,0.52);
			font-weight: 400;
			width: 350px;
		}
	}
  .highlight-empty {
    font-size: 1.1em;
    padding: 5px;
    color: white;
		border-radius: 2px;
		background-color: rgb(255,121,97);
		box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.6), 0px 1px 1px 0px rgba(0,0,0,0.54), 0px 1px 3px 0px rgba(0,0,0,0.52);
  }
}

.calendar {
  font-family: 'Futura PT', sans-serif;
  min-height: 25vh;
  .calendar-schedule{
    display: flex;
    flex-direction: column;
    align-items: center;
    .calendar-schedule-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 5px 0;
			color: white;
      border-radius: 2px;
			background-color: rgb(255,121,97);
			box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.6), 0px 1px 1px 0px rgba(0,0,0,0.54), 0px 1px 3px 0px rgba(0,0,0,0.52);
      list-style: none;
      width: 350px;
      .calendar-schedule-box-el {
        margin: 0 10px;
        padding: 5px 0;
      }
      .calendar-schedule-box-button {
        border: none;
        padding: 0 5px;
        background-color: rgb(97, 45, 36);
        color: white;
        visibility: hidden;
        opacity: 0;
        transition: .1s ease;
        cursor: pointer;
      }
    }
    .calendar-schedule-box:hover .calendar-schedule-box-button {
      visibility: visible;
      opacity: 1;
    }
  }
  .calendar-empty {
    font-size: 1.1em;
    padding: 5px;
    color: white;
		border-radius: 2px;
		background-color: rgb(255,121,97);
		box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.6), 0px 1px 1px 0px rgba(0,0,0,0.54), 0px 1px 3px 0px rgba(0,0,0,0.52);
  }
}

.events {
  font-family: 'Futura PT', sans-serif;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .events-title{
    margin: 10px;
  }
  .events-timeset {
    display: flex;
    flex-direction: row;
    margin: 10px;
    .events-timeset-input {
      display: flex;
      flex-direction: column;
      margin: 0 10px;
      .events-timeset-input-title {
        font-weight: 600;
      }
    }
  }
  .events-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
  }
}
